//rule
if import != false
  @import 'rule'

//stage
#mainer
  float left

//banner
#banner
  width 100%
  background-color rgba(#fff, 0.8)
  border-bottom 1px solid #eee
  padding 16px 24px
  position absolute
  top 0

  .thumb
    float left
    margin-right 16px
  .avatar
    width 48px
    height @width
    border-radius 8px

  .title
    height 24px
    line-height @height
    display block
    font-size 16px
    color #333
  .desc
    height 24px
    line-height @height
    display block
    font-size 14px
    color #999

//cont
#cont
  padding 92px 32px