//rule
if import != false
  @import 'rule'

//param
main = #204066

//stage
#nav
  float left
  height 100%
  width 240px
  background-color main
  padding 8px

//user
#area-user-nav
  padding 8px
  border-radius 4px

  &:hover
    background-color main + 20%

  .thumb
    margin-right 8px
    float left
  .avatar
    width 32px
    height @width
    border-radius @height * 0.5
    background-color #eee

  .name
    color #fff
    font-size 20px
    height 32px
    line-height @height

//channel
#area-channel-nav
  margin 16px auto 0
  text-align left
  h1
    color main + 80%
    height 24px
    line-height @hegiht

  .channel
    background-color main
    color #fff
    height 32px
    line-height @height
    text-align left
    display block
    margin 0 -8px 0 0
    padding 0 4px 0 8px
    border-radius 4px 0 0 4px
    font-size 14px
    cursor pointer

    &:hover
      background-color main + 20%

    &.active
      background-color #fff
      color main