//rule
if import != false
  @import 'rule'

//stage
html
  position static

body
  position static
  background #fff
  font-size 12px
  font-family 'Microsoft YaHei', '微软雅黑', tahoma, arial, simsun, '宋体'
  line-height 16px
  -webkit-font-smoothing antialiased

//stage
#stage
  position relative
  top 0
  left 0
  z-index 0
  margin 0
  padding 0
  background-color #fff

  &.blur
    #guide, #block-notice-guide, #header, #mainer, #footer
      filter blur(4px)

  &.grayscale
    #guide, #block-notice-guide, #header, #mainer, #footer
      filter grayscale()

  &.sepia
    #guide, #block-notice-guide, #header, #mainer, #footer
      filter sepia(0.35)

  &.invert
    #guide, #block-notice-guide, #header, #mainer, #footer
      filter invert()