//-path
include ../sanae/path
doctype html
html
    head
        //-meta
        include ../sanae/meta
        //title
        title Aria
        //-style
        include ../sanae/style
        link(rel="stylesheet", href="/client/index/style/index.css")
    body
        //-stage
        #stage
            //-info
            include ../sanae/info
            //-nav
            include ../sanae/nav
            //-mainer
            #mainer
                #banner
                    .thumb
                        img.avatar
                    h1.title test/develop
                    p.desc channel for test, and develop.
                    spanc.clearfix
                xmp.hidden
                    a.thumb
                        img.avatar
                    h1.title [title]
                    p.desc [desc]
                    spanc.clearfix
                #cont
            span.clearfix
        //-script
        include ../sanae/script
        script(src="/client/index/script/index.js")