//-nav
#nav
    #area-user-nav
    xmp.hidden
        a.thumb
            img.avatar
        p.name [name]
        span.clearfix
    #area-channel-nav
        h1 ALL CHANNELS
        .channel.active
            i.icon.icon-comment
            | test/develop
        .channel
            i.icon.icon-upload
            | upload/develop
        .channel
            i.icon.icon-question-circle
            | issue/develop